---
import { Image } from 'astro:assets';
import type { projectData } from '../data';


interface Props {
    projects: projectData[]
}

const { projects } = Astro.props
---
<section class="w-full max-w-[800px]" id="projects">
    <div class="text-white text-center font-bold text-2xl my-4 tracking-widest dro-shadow-lg">PROJECTS</div>
    <div class="flex flex-row flex-wrap  justify-center">
        {projects.map(project => {
            const { name, href, image, description, id } = project
            return (
            <div transition:name={id} class="group bg-secondary p-4 m-3 rounded-xl shado-md drop-shadow-md hover:bg-primary transition-all duration-200 w-[90%] sm:w-[46%] min-w-[300px] flex flex-col">
                <a href={href}
                >
                    <h2 class="text-center font-bold text-lg mb-2">
                        {name}
                    </h2>
                        <Image 
                        class='shadow-md drop-shadow-md'
                        src={image}
                        alt={'name'}
                        decoding='async'
                        loading='lazy'                                                
                    />
                    
                </a>
                {description && 
                    <p class="bg-primary h-full ext-sm text-justify text p-2 shadow-lg drop-shadow-lg group-hover:bg-secondary transition-all duration-200">{description}</p>
                }
                </div>
            )
        })}
    </div>
</section>
